<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title>VL error</title>
</head>
<body>


<p th:text="${exception}"></p>
<p th:text="${url}"></p>

<span th:each = "ex : ${exStackTrace}">
<!--    <span th:utext = "  ${ex.declaringClass}"> </span>-->
    <span th:utext = "  ${ex.getLineNumber()}"> </span> <br>
    <span th:utext = "      ${ex.getMethodName()}"> </span><br>
    <span th:utext = "          ${ex.getClassName()}"> </span><br>
<!--    <td th:utext = "${user.firstName}"> </td>-->
<!--    <td th:utext = "${user.lastName}"> </td>-->
<!--    <td th:utext = "${user.email}"> </td>-->
<!--    <td th:utext = "${user.password}"> </td>-->
<!--    <td th:utext = "${user.modified}"> </td>-->
<!--    <td>-->
<!--        <a th:href="@{/admin/edit(id=${user.id})}">edit</a>-->
<!--        &lt;!&ndash;            <a href="/edit?id=${user.id}">edit</a>&ndash;&gt;-->
<!--        <a th:href="@{/admin/delete(id=${user.id})}">delete</a>-->
<!--    </td>-->
</span>

</body>
</html>